* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    background: #FFFFFF;

}

.container {
    max-width: 1181px;
    margin: 0 auto;
    width: 100%;

}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

/* header */

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    padding: 66px 15px;

}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoImg {
    display: block;
    background-image: url(../images/mamonLogo.svg);
    width: 58px;
    height: 58px;
    margin-right: 15px;
}

.logoText {
    font-size: 20px;
    line-height: 28px;
}

.nav {
    display: flex;
    font-size: 11px;
    line-height: 18px;
    padding-right: 199px;
}


.nav>li {
    margin-left: 29px;
}

.menuLink {
    color: #202020;
}

.menuLink.active {
    background: #5528FF;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 2.5px 13px;

}

/* content */

.content {
    padding-top: 20px;
    padding-bottom: 88px;
    padding-left: 58px;
    padding-right: 15px;
}

.titlePage {
    font-weight: 700;
    font-size: 46px;
    color: #202020;
    margin: 0;

}

.textPage {
    font-weight: normal;
    font-size: 25px;
    letter-spacing: 0.15px;
    line-height: 41px;
    max-width: 683px;
    color: #4F4F4F;
    padding: 24px 84px 55px 5px;
    margin: 0;

}

.btnPage {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.85px;
    background-color: #5528FF;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    padding: 11px 45px;

}

.page {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 77px;
    padding-bottom: 110px;
    position: relative;
}

.pageTop {
    border-top: 1px solid #C2C2C2;

}

.line {
    position: absolute;
    top: -14px;
    font-weight: 300;
    font-size: 11px;
    line-height: 16px;
    color: #C2C2C2;
    background-color: #fff;
    padding: 5px 21px;
}

/* services */

.services {
    display: grid;
    grid-template: 50% 50% / 50% 50%;
    grid-row-gap: 36px;
}

.service {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.imageServices {
    text-align: center;
    flex-basis: 127px;
}

.descriptionService {
    flex-basis: calc(80% - 165px);
}

.titleService {
    font-weight: 400;
    font-size: 23px;
    color: #000000;
    margin-bottom: 17px;
}

.textService {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #B2B2B2;
}

/* clients */

.clients {
    display: grid;
    grid-template: 0px 150px 10px / repeat(4, 21%);
    align-items: center;
    text-align: center;

}

/* members team */


.members {
    display: grid;
    align-items: center;
    text-align: center;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    grid-template: 70px 184px 74px / repeat(3, 28.5%);
    padding: 0 15px;


}

.member {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.member img {
    margin-right: 8px;
    width: 93px;
    height: 100px;

}

.memberInfo {
    flex-basis: calc(60% - 112px);
}

.nameMember {
    font-weight: 700;
    font-size: 22px;
    color: #202020;
    margin: 7px 0 3px 0;
}



.positionMember {
    font-weight: 400;
    font-size: 12px;
    color: #B2B2B2;

}

/* footer */
footer {
    background-color: #F7F7F7;

}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -7px auto;
}

.logoFooter {
    background-image: url(/images/mamonLogoFooter.svg);
    width: 60px;
    height: 60px;

}

.icons {
    display: flex;
    margin-right: 216px;
}

.icon {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin-left: 33px;
    width: 28px;
    height: 28px;
    color: #B2B2B2;
}